<h1>Queueing Feed Reader</h1>

<form action="/feeds" method="post" />
  <div>
    Add a feed:
    <input type="text" size="60" name="url" />
    <input type="submit" value="Add" />
  </div>
</form>

<% unless @feeds.empty? %>
  <div class="refresh_all">
    <%# this link will be handled with a jQuery / javascript call %>
    <%= link_to "refresh all", '#' %>
  </div>
  <%= render @feeds %>
<% end %>

